@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background-color: rgb(19, 19, 19);
  font-family: "Bebas Neue", sans-serif;
}

.HomeContainer::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/KOLSVART.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* Placera pseudoelementet bakom innehållet i HomeContainer */
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(230, 228, 228);
}
h1 {
  font-size: 10rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
p {
  font-size: 2rem;
}

ul {
  list-style: none;
}
.headerName {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header-container {
  height: 22rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
.headerandlogin {
  display: flex;
  justify-content: space-between;
}

.loginandcart {
  display: flex;

  padding: 1rem;
}

button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.7rem;
  padding: 0 0.4rem 0 0.4rem;
  margin: 0.5rem;
  background-color: rgba(62, 62, 62, 0.759);
  border-radius: 0.4rem;
}

.discountBanner {
  background-color: black;
  color: #c6c6c6;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

input {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.7rem;
}

/*-----------LOGIN MODAL---------*/
.loginModal {
  position: absolute;
  top: 35rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(68, 66, 66);
  padding: 2rem;
  border-radius: 0.5rem;
}

.modalSignInBtn {
  background-color: #bfbebe;
  cursor: pointer;
}

.signInBtn {
  cursor: pointer;
}

.exitBtnDiv {
  display: flex;
  justify-content: flex-end;
}
.exitBtn {
  all: unset;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.registerHere {
  cursor: pointer;
  width: 30%;
  font-size: 2rem;
  padding-top: 1rem;
}

.modalRegisterBtn {
  background-color: #bfbebe;
  cursor: pointer;
}

.registerUserContainer {
  padding-top: 3rem;
}

.cartIcon {
  font-size: 2rem;
  padding: 0.5rem;
}
.cart-icon {
  font-size: 2rem;
  padding: 0.5rem;
}

.loggedinUserText {
  color: #797979;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.productImg {
  max-width: 300px;
  max-height: 300px;
}

/*---------CART PAGE------------*/
.cartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

div.error-message {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inCartContainer {
  border: 2px solid #757474;
  width: 50%;
}

.inCartContainer p {
  font-size: 2rem;
}

.cartCard {
  display: flex;
  justify-content: flex-start;
  border: 2px solid #757474;
}

.textCartCard {
  padding-left: 2rem;
}

.checkoutBtn {
  background-color: #bfbebe;
  cursor: pointer;
}

.productInCartImg {
  max-width: 100px;
}

.productListContainer {
  display: flex;
  justify-content: space-around;
}

.confirmationOKContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.confirmationNotOkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.orderContainer {
  padding: 2rem;
}
.orderCard {
  border: 2px solid #757474;
  padding: 1rem;
  padding-left: 2rem;
  width: 20%;
}
/*------------HOME SCROLL--------------*/
section {
  height: 100vh;
  position: relative;
}

.one {
  height: calc(100vh - 22rem);
}

.two {
  background-color: rgb(19, 19, 19);
  padding-top: 22rem;
}

.section.one {
  height: auto;
}

/*---------ARROWS-----------*/
.one {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  position: relative;
}

.homeProducts {
  cursor: pointer;
  margin-bottom: 4rem;
  margin-right: 22rem;
  font-size: 6rem;
}

.arrow {
  position: absolute;
  bottom: 0; /* Placera pilarna längst ner i .one */
  transform: translateX(-50%) translateY(100%); /* Anpassa transformen för pilarna */
  cursor: pointer;
  margin-left: 22rem;
  margin-bottom: 10rem;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* ----------SCROLLBAR------------- */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: rgb(30, 30, 30);
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: black;
}

::-webkit-scrollbar-tumb:hover {
  background: pink;
}
